/.vscode
/config.py
/notebook
/venv
/__pycache__
TODO.py
webapp.py
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/Weather Forecast.iml
.idea/inspectionProfiles/profiles_settings.xml
templates/location.html
.idea/.gitignore
tests/__pycache__/__init__.cpython-39.pyc
tests/__pycache__/test_weather.cpython-39.pyc
.env
app.log
